@model ProductViewModel

@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <a asp-controller="Catalogue" asp-action="Products">Back to Products</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Buy</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Review
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reviews)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        }
    </tbody>
</table>
